@model AuthHostel.Models.CareJournal

<h2>Новая запись</h2>

@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.Time, "Время")
    <br />
    @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Time } })
    <br />
    @Html.LabelFor(model => model.EmployID, "Работник")
    <br />
    @Html.DropDownListFor(model => model.EmployID, ViewBag.Employs as SelectList)
    <br /><br />
    @Html.LabelFor(model => model.CareID, "Тип ухода")
    <br />
    @Html.DropDownListFor(model => model.CareID, ViewBag.Cares as SelectList)
    <br /><br />
    @Html.LabelFor(model => model.AnimalID, "Животное")
    <br />
    @Html.DropDownListFor(model => model.AnimalID, ViewBag.Animals as SelectList)
    <br /><br />
    <input type="submit" value="Добавить" />
}